h3 {
    height: 10px;
}

.upgrade-building-button {
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #dbddec;
    border-style: ridge;
    border-color: black;
    border-width: 4px;
    border-radius: 10px;
}